@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.woff") format("woff");
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.woff") format("woff");
  src: url("../fonts/roboto-v27-latin-500.woff2") format("woff2");
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.woff") format("woff");
  src: url("../fonts/roboto-v27-latin-700.woff2") format("woff2");
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.woff") format("woff");
  src: url("../fonts/roboto-v27-latin-900.woff2") format("woff2");
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.woff") format("woff");
  src: url("../fonts/raleway-v19-latin-700.woff2") format("woff2");
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

*,
*::before,
*::after {
  box-sizing: box-sizing;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:not(.logo--nohover):hover, .link:not(.logo--nofocus):focus {
  color: #2196f3;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.card-set__item {
  margin-left: 30px;
  margin-top: 30px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 23px;
}

.logo--blue {
  color: #2196f3;
}

.logo--white {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  color: #f5f4fa;
}

.contacts {
  display: flex;
}

.header-contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__icon {
  display: inline-block;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .socials__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .socials__title {
    display: flex;
    align-items: baseline;
  }
}

.socials__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  font-style: inherit;
}

.address__item {
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item--white {
  color: #ffffff;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199.98px) {
  .newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.newsletter__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .newsletter__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__title {
    display: flex;
    align-items: baseline;
  }
}

.newsletter__mail {
  margin: 0;
  padding: 15px 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199.98px) {
  .newsletter__mail {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__mail {
    width: 358px;
  }
}

.newsletter__mail::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__mail:focus-within {
  outline: #2196f3;
  border-color: #2196f3;
}

.newsletter__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199.98px) {
  .newsletter__btn {
    text-align: center;
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__btn {
    margin-left: 12px;
  }
}

.newsletter__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover {
  border: 1px solid #2196f3;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__icon {
  fill: #2196f3;
}

.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.request-form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.request-form__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.request-form__label {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__field:focus-within .request-form__label {
  transform: translate(-40px, -38px);
}

.request-form__input:not(:placeholder-shown) + .request-form__label {
  transform: translate(-40px, -38px);
}

.request-form__input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  padding-right: 12px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__field:focus-within .request-form__input {
  border-color: #2196f3;
  outline: #2196f3;
}

.request-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__field:focus-within .request-form__icon {
  fill: #2196f3;
}

.form-comment {
  position: relative;
  display: block;
}

.request-form__comment {
  margin-bottom: 20px;
}

.form-comment__label {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus-within .form-comment__label {
  transform: translate(-12px, -27px);
}

.form-comment__textarea:not(:placeholder-shown) + .form-comment__label {
  transform: translate(-12px, -27px);
}

.form-comment__textarea {
  display: block;
  padding: 10px 12px;
  width: 448px;
  height: 120px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus-within .form-comment__textarea {
  border-color: #2196f3;
  outline: #2196f3;
}

.checkbox {
  display: flex;
  align-items: center;
}

.request-form__checkbox {
  margin-bottom: 30px;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:focus + .checkbox__icon {
  border-color: #2196f3;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url("../images/check.svg");
  background-size: contain;
  border: 2px solid #2196f3;
  background-color: #2196f3;
}

.checkbox__text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__link {
  color: #2196f3;
}

.request-btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  line-height: 1.87;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  display: flex;
  justify-content: center;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  background-color: #f5f4fa;
}

.filter__btn:hover, .filter__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .section__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
  }
}

.hero {
  text-align: center;
  margin: 0 auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .hero {
    height: 400px;
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg/hero-mob-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg/hero-tab-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg/hero_bg.jpg");
  }
}

.hero__title {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.hero__btn:hover, .hero__btn:focus {
  color: #2196f3;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199.98px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding-top: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .services__item {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (max-width: 1199.98px) {
  .services__thumb {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services__thumb {
    position: relative;
  }
}

@media screen and (max-width: 1199.98px) {
  .services__content {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services__content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 27px 24px;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.values__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .values__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    /* margin-left: auto;
    margin-right: auto; */
  }
}

@media screen and (min-width: 1200px) {
  .values__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.values__bg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.values__point {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .values__point {
    text-align: center;
  }
}

.values__text {
  line-height: 1.71;
  color: #757575;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.team__content {
  padding: 30px 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: flex;
  align-items: center;
}

.clients__item {
  height: 92px;
}

@media screen and (min-width: 320px) {
  .clients__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

/* .footer__thumb {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    margin-right: 165px;
  }
}
 */
.footer__info {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__address {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 320px) {
  .footer__socials {
    margin-bottom: 60px;
  }
}

.portfolio__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__content {
  position: relative;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */