.filter {
  display: flex;
  justify-content: center;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  background-color: $light-bg;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $alt-title-color;
    background-color: $accent-color;
  }
}
