.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$card-set-gap});
  margin-top: calc(-1 * #{$card-set-gap});
}

.card-set__item {
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;
}
