$accent-color: #2196f3;

$main-text-color: #212121;
$alt-text-color: #757575;
$white-text-color: #ffffff;

$main-title-color: #212121;
$alt-title-color: #ffffff;

$dark-bg: #2f303a;
$light-bg: #f5f4fa;

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$card-set-gap: 30px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
