.hero {
  text-align: center;
  margin: 0 auto;

  background-color: $dark-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include for-phone {
    height: 400px;
    max-width: 480px;

    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_mobile.jpg');
  }

  @include for-tablet {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_tablet.jpg');
  }

  @include for-desktop {
    height: 600px;
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_desktop.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_mobile@2x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_tablet@2x.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero_bg/hero_desktop@2x.jpg');
  }
}

.hero__title {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $alt-title-color;
  @include phone-and-tablet {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @include for-desktop {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $light-bg;
  }
}
