:root {
  --accent-color: #2196f3;

  --main-text-color: #212121;
  --alt-text-color: #757575;
  --white-text-color: #ffffff;

  --main-title-color: #212121;
  --alt-title-color: #ffffff;

  --dark-bg: #2f303a;
  --light-bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --card-set-gap: 30px;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--animation);
}

.link:not(.logo--nohover):hover,
.link:not(.logo--nofocus):focus {
  color: var(--accent-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header__flex {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  padding-bottom: 23px;
}

.logo--blue {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
}

.header-contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);
}

.contacts__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
/* buttons */

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;

  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.hero__btn {
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--light-bg);
}

/* hero */

.hero {
  height: 600px;
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--dark-bg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-color);
}

/* Values */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.values__item {
  flex-basis: calc((100% - var(--card-set-gap) * 4) / 4);
}

.values__bg-icon {
  padding: 25px 100px;
  margin-bottom: 30px;

  height: 120px;
  background-color: var(--light-bg);
}

.values__point {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.values__text {
  line-height: 1.71;
  color: var(--alt-text-color);
}

/* services */

.services {
  padding-top: 0;
}

.services__item {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
}

.services__thumb {
  position: relative;
}

.services__content {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 27px 24px;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.team {
  background-color: var(--light-bg);
}

.team__item {
  flex-basis: calc((100% - var(--card-set-gap) * 4) / 4);
  text-align: center;
}

.team__content {
  padding: 30px 24px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;

  color: var(--alt-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;

  transition: color var(--animation), background-color var(--animation);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}
.socials__icon {
  display: inline-block;

  fill: currentColor;
  transition: fill var(--animation);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

/* Clients */

.clients__list {
  display: flex;
  align-items: center;
}

.clients__item {
  flex-basis: calc((100% - 6 * var(--card-set-gap)) / 6);
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--animation), border var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* PORTFOLIO PAGE */
.filter {
  display: flex;
  justify-content: center;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  background-color: var(--light-bg);
}

.filter__btn:hover,
.filter__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--alt-title-color);
  background-color: var(--accent-color);
}

.portfolio__item {
  flex-basis: calc((100% - 3 * var(--card-set-gap)) / 3);
}

.portfolio__link {
  display: block;
  color: inherit;
  text-decoration: none;

  transition: box-shadow var(--animation);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animation), opacity var(--animation);
}

.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__content {
  position: relative;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--alt-text-color);
}

/* footer */

.footer {
  background-color: var(--dark-bg);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--white {
  display: block;
  padding: 0;
  margin-bottom: 20px;

  color: var(--light-bg);
}

.address {
  font-style: inherit;
}

.address__item {
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item--white {
  color: var(--alt-title-color);
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.socials__title {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alt-title-color);
}

.socials__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.newsletter__title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alt-title-color);
}

.newsletter__mail {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-bg);

  transition: border-color var(--animation), outline var(--animation);
}

.newsletter__mail::placeholder {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.newsletter__mail:focus-within {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}
.newsletter__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  line-height: 1.87;

  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;

  opacity: 1;
  transition: opacity var(--animation);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  max-height: 100vh;
  overflow-y: auto;

  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--animation), visibility var(--animation);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: border var(--animation);
}

.modal__close:hover {
  border: 1px solid var(--accent-color);
}

.modal__icon {
  transition: fill var(--animation);
}

.modal__close:hover .modal__icon {
  fill: var(--accent-color);
}

.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
}

.request-form__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--main-title-color);
}

.request-form__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.request-form__label {
  position: absolute;
  top: 50%;
  left: 40px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alt-text-color);

  transform: translateY(-50%);
  transition: transform var(--animation);
}

.request-form__field:focus-within .request-form__label {
  transform: translate(-40px, -38px);
}

.request-form__input:not(:placeholder-shown) + .request-form__label {
  transform: translate(-40px, -38px);
}

.request-form__input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  color: var(--alt-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--animation), outline var(--animation);
}

.request-form__field:focus-within .request-form__input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.request-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill var(--animation);
}
.request-form__field:focus-within .request-form__icon {
  fill: var(--accent-color);
}

.form-comment {
  position: relative;
  display: block;
}

.request-form__comment {
  margin-bottom: 20px;
}

.form-comment__label {
  position: absolute;
  top: 10px;
  left: 12px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--alt-text-color);

  transition: transform var(--animation);
}

.form__comment:focus-within .form-comment__label {
  transform: translate(-12px, -27px);
}

.form-comment__textarea:not(:placeholder-shown) + .form-comment__label {
  transform: translate(-12px, -27px);
}

.form-comment__textarea {
  display: block;
  padding-left: 12px;
  padding-top: 10px;
  width: 448px;
  height: 120px;

  color: var(--alt-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color var(--animation), outline var(--animation);
}

.form-comment:focus-within .form-comment__textarea {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
}

.request-form__checkbox {
  margin-bottom: 30px;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: background-color var(--animation), border var(--animation);
}

.checkbox__input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url('../images/check.svg');
  background-size: contain;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;

  color: var(--alt-text-color);
}
.checkbox__link {
  color: var(--accent-color);
}

.request-btn {
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
